.brends {
    padding-top: 110px;
    padding-bottom: 180px;
    // .brends__container
    &__container {
    }

    &__title {
        margin-bottom: 95px;
    }

    // .brends__items
    &__items {
        max-width: 1020px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 80px;
    }

    // .brends__item
    &__item {
        img {
            max-width: 100%;
        }
    }
}

@media (max-width: 991.98px) {
    .brends {
        padding-top: 50px;
        padding-bottom: 50px;
  
        &__title {
            margin-bottom: 40px;
        }
    
        // .brends__items
        &__items {
            row-gap: 50px;
            grid-template-columns: repeat(3, auto);
        }
    }
}
@media (max-width: 767.98px) {
    .brends {
        padding-top: 30px;
        padding-bottom: 30px;
        &__title {
            margin-bottom: 25px;
        }
    }
}
@media (max-width: 600px) {
    .brends {
        &__items {
            justify-content: center;
            row-gap: 20px;
            grid-template-columns: repeat(2, auto);
        }
    }
}
@media (min-width: var(--md2)) {}
@media (max-width: var(--md2)) {}
@media (any-hover: hover) {}