/* https://nomail.com.ua/    бесплатный каталог шрифтов без поиска */
/* https://transfonter.org/     конвертер */
/* 
Family support = on
Add local rule = on
 */
/* https://webfonts.pro/ */

/* подключаем локальный файл шрифта */
/* @font-face {
    font-family: 'Impact', sans-serif;
    src: url('../fonts/impact.woff2');
} */

/* 
========================================================================
ШПАРГАЛКА
========================================================================
Каталог шрифтов:
https://nomail.com.ua/
Google Fonts:
https://fonts.google.com/
Конвертер шрифтов:
http://www.font2web.com/
========================================================================
@font-face {
	font-family: 'Имя шрифта меняем на актуальное';
	font-display: swap;
	src: url("../fonts/файл шрифта.eot");
	src: local("O"), url("../fonts/файл шрифта.woff") format("woff"), 
			url("../fonts/файл шрифта.ttf") format("truetype"), 
			url("../fonts/файл шрифта.svg") format("svg");
	font-weight: normal;для regular так и оставляем
	font-style: normal;
}
========================================================================
font-family: "Имя шрифта", "Имя шрифта", тип шрифта
Устанавливает семейство шрифта
Типы шрифта:
serif — шрифты с засечками (антиквенные), типа Times;
sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial;
cursive — курсивные шрифты;
fantasy — декоративные шрифты;
monospace — моноширинные шрифты, ширина каждого символа в таком семействе одинакова (шрифт Courier).
========================================================================
font-weight:
Устанавливает насыщенность шрифта.
100 - thin
200 - UltraLite
300 - lite
400 - normal
500 - medium
600 - semibold
700 - bold
800 - Heavy
900 - black
========================================================================
*/
// @font-face {
// 	font-family: 'Имя шрифта меняем на актуальное';
// 	font-display: swap;
// 	src: url("../fonts/файл шрифта.eot");
// 	src: local("O"), url("../fonts/файл шрифта.woff") format("woff"), 
// 			url("../fonts/файл шрифта.ttf") format("truetype"), 
// 			url("../fonts/файл шрифта.svg") format("svg");
// 	font-weight: normal;// для regular так и оставляем 
// 	font-style: normal;// ставим italic если нужно 
// }
// @font-face {
// 	font-family: 'Имя шрифта меняем на актуальное';
// 	font-display: swap;
// 	src: url("../fonts/файл шрифта.eot");
// 	src: local("O"), url("../fonts/файл шрифта.woff") format("woff"), 
// 			url("../fonts/файл шрифта.ttf") format("truetype"), 
// 			url("../fonts/файл шрифта.svg") format("svg");
// 	font-weight: 500;
// 	font-style: normal;
// }

@font-face {
	font-family: Cal Sans;
	font-display: swap;
	src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'), 
	url('../fonts/CalSans-SemiBold.woff') format('woff');
	font-weight: 400;/* для regular так и оставляем, ставим 500, если шрифт medium */
	font-style: normal;/* ставим italic если нужно */
}